@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu");

.payment {
  background: #005515;
  max-width: 360px;
  margin: 80px auto;
  height: fit;
  padding: 35px;
  padding-top: 20px;
  border-radius: 5px;
  position: relative;
}

.btn1 {
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.payment .pay {
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  padding-top: 20px;
}
.payment h3,
.payment h4 {
  color: #fff;
  text-align: center;
}
.payment h3{
  font-size: 1.4em;
}
.payment h4{
  font-size: 1.2em;
  padding-bottom: 20px;
}

.form .label {
  display: block;
  color: #fff;
  margin-bottom: 6px;
  text-align: left;
  font-size: 15px;
}

.input {
  padding: 13px 0px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
}

.cardPayment-grp {
  display: flex;
  justify-content: space-between;
}

.cardPayment-item {
  width: 48%;
}

.space {
  margin-bottom: 20px;
}

.icon-relative {
  position: relative;
}

.icon-relative .fas,
.icon-relative .far {
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

#popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 999;
}

#popup .payment a.close {
  position: absolute;
  text-align: center;
  padding: 5px 15px;
  border-radius: 30px;
  top: 10px;
  right: 20px;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

.btnBuyToCart {
  background: #e51e2a;
  padding: 10px;
  border-radius: 40px;
  width: 140px;
  text-align: center;
  color: #f8f8f8;
  cursor: pointer;
  border: none;
  margin-left: 20px;
}

.payment-logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 85px;
}

.payment-logo:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #00cc33;
  border-radius: 50%;
}

.payment-logo p {
  position: relative;
  color: #f8f8f8;
  font-family: "Baloo Bhaijaan", cursive;
  font-size: 58px;
}

@media screen and (max-width: 991px) {
  .cardPayment-grp {
    flex-direction: column;
  }
  .cardPayment-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 20px;
  }
  .payment h2 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 420px) {
  .cardPayment-grp {
    flex-direction: column;
  }
  .cardPayment-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 20px;
  }
  .payment h2 {
    margin-top: 30px;
  }
  .payment {
    max-width: 320px;
    margin: 100px auto;
    padding-top: 25px;
  }  
}