@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
section .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #005515;
  clip-path: circle(70% at right -20%);
}
.header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  padding: 20px 70px;
  z-index: 10;
}
.header h4 {
  font-size: 1.8em;
  font-weight: 500;
}
.header h4 span {
  color: green;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textBox {
  position: relative;
  max-width: 600px;
  margin-right: 20px;
}
.content .textBox h2 {
  font-size: 3em;
  margin-bottom: 10px;
  margin-top: 150px;
  line-height: 1.4em;
  font-weight: 700;
}
.feeling {
  color: #005515;
}
.carousel-indicators li {
  background: #017e20;
}
.content .textBox .modal-button,
.content .textBox .btnBuyToCart,
.content .textBox .btn1 {
  background: #017e20;
}
.buttondetails {
  color: #000;
  background: #fff;
}
.btnBuyToCart {
  margin-top: 4%;
  display: inline-block;
  padding: 11px 20px;
  color: #fff;
  font-weight: 500;
  border-radius: 40px;
  letter-spacing: 1px;
  text-decoration: none;
  border: none;
}
.btnBuyToCart:hover {
  color: #fff;
  text-decoration: none;
}
.card {
  position: relative;
  width: 360px;
  height: 190px;
  background: #333;
  transition: 0.5s;
  box-shadow: rgba(29, 29, 59, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card:hover {
  height: 450px;
}
.card .lines {
  position: absolute;
  inset: 0;
  background: #d8fde4;
  overflow: hidden;
}
.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.card .lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #00300c;
}
.card .imgBx {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #d8fde4;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}
.card:hover .imgBx {
  width: 250px;
  height: 250px;
}
.card .imgBx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    #ff3c7b,
    #ff3c7b,
    #ff3c7b,
    transparent
  );
  animation: animate2 6s linear infinite;
}
@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.card .imgBx::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #00300c;
}
.card .imgBx img {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}
.card .content1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.card .content1 .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(145px);
}
.card:hover .content1 .details {
  transform: translateY(0px);
}
.card .content1 .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #93fa9c;
  line-height: 1.2em;
}
.card .content1 .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  color: #fff;
}
.card .content1 .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.card .content1 .details .data h3 {
  font-size: 1em;
  color: #93fa9c;
  line-height: 1.2em;
  font-weight: 600;
  display: hidden;
}
.card .content1 .details .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  color: #fff;
}
.card .content1 .details .actionBtn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.card .content1 .details .actionBtn button {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background: #fff;
  color: #000;
  cursor: pointer;
  opacity: 0.9;
}
.card .content1 .details .actionBtn button:hover {
  opacity: 1;
}
.modal-1 {
  margin-left: 20%;
  padding-top: 5%;
}
.modal-button {
  display: inline-block;
  padding: 11px 20px;
  color: #fff;
  font-weight: 500;
  border-radius: 40px;
  letter-spacing: 1px;
  text-decoration: none;
  border: none;
  margin-left: 20px;
  margin-top: 12px;
}
swiper-container {
  width: 100%;
  padding-top: 0;
  padding-bottom: 50px;
  border: #161616;
}
swiper-slide {
  background-position: center;
  background-size: cover;
  width: 180px;
  height: 300px;
  display: flex;
  top: 50px;
  justify-content: center;
  border: #161616;
}

.content {
  margin-top: -30px;
  padding: 30px;
}
.content .imgBox {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.content .imgBox img {
  max-width: 150px;
}

swiper-slide img {
  top: 30px;
  bottom: 0;
  max-height: 92%;
  width: 70%;
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d swiper-slide {
  transform-style: preserve-3d;
  max-width: 45%;
}
/* end menyesuaikan ukuran slide */

.carousel {
  width: 60%;
  padding: 7px;
  background: transparent;
  height: 14rem;
}
.cocacola {
  font-size: large;
  font-weight: 700;
  color: #005515;
  margin: 0;
}

.cocacola1 {
  font-size: large;
  font-weight: 700;
  color: #005515;
  margin: 0;
}
.carousel-indicators {
  top: 85%;
  z-index: 15;
  width: 100%;
  list-style: none;
  filter: invert(1);
}
.smp {
  color: #005515;
}

@media (max-width: 991px) {
  section {
    padding: 20px;
  }
  section .circle {
    background-color: #005515;
    clip-path: circle(70% at right -20%);
  }
  .header {
    top: 10px;
    padding: 20px 50px;
    z-index: 10;
  }
  .header h4 {
    font-size: 1.7em;
    font-weight: 500;
    color: #111;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .content .textBox {
    margin-left: -10px;
    margin-top: -10%;
  }
  .content .textBox h2 {
    font-size: 2.8em;
    margin-bottom: 10px;
    margin-top: 30%;
    line-height: 1.4em;
  }
  .carousel {
    width: auto;
  }
  .carousel-indicators {
    position: relative;
    top: 110%;
    z-index: 15;
    width: 100%;
    list-style: none;
    filter: invert(1);
  }
  .carousel-inner {
    margin-top: -70px;
  }
  .cocacola1 {
    font-size: large;
    font-weight: 700;
    color: #111;
    margin: 0;
    z-index: 1;
    padding-top: 50px;
    padding-left: 10px;
  }
  .btnBuyToCart {
    margin-top: 2%;
  }
  .card {
    position: relative;
    width: 400px;
    height: 180px;
    background: #333;
    transition: 0.5s;
  }
  .card .imgBx img {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
  .card .imgBx::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #292929;
    width: calc(95%);
    height: calc(95%);
  }
  .card:hover .imgBx {
    width: 250px;
    height: 250px;
  }
  .card .imgBx {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 140px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
  }
  .card .content1 .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(160px);
  }
  .card:hover .content1 .details {
    transform: translateY(0px);
  }
  .card:hover {
    height: 450px;
  }
  .modal-1 {
    padding-top: 12%;
  }
  .content .textBox,
  .content .imgBox {
    max-width: 100%;
  }
  swiper-slide {
    padding-bottom: 5%;
  }
  .container h2 {
    color: green;
  }
  .container .feeling {
    color: #111;
  }
  .cocacola {
    margin-top: 10rem;
  }
  .modal-button {
    margin-top: 2%;
    margin-left: 22px;
  }
  .carousel-inner p {
    color: #111;
  }
}

@media (max-width: 420px) {
  section {
    padding: 10px;
  }
  section .circle {
    background-color: #005515;
    clip-path: circle(110% at right -20%);
  }
  .header {
    top: 10px;
    padding: 20px 23px;
    z-index: 10;
  }
  .header h4 {
    font-size: 1.7em;
    font-weight: 500;
    color: #fff;
  }
  .content {
    flex-direction: column;
    margin-top: 18%;
    padding: 0%;
  }
  .content .textBox {
    margin-right: 0px;
  }
  .content .textBox h2 {
    font-size: 2.8em;
    margin-bottom: 10px;
    margin-top: 60px;
    line-height: 1.4em;
  }
  .carousel {
    width: auto;
  }
  .carousel-indicators {
    position: relative;
    top: 165%;
    z-index: 15;
    width: 100%;
    list-style: none;
    filter: invert(0);
  }
  .carousel-inner {
    margin-top: -70px;
  }
  .cocacola1 {
    font-size: large;
    font-weight: 700;
    color: #fff;
    margin: 0;
    z-index: 1;
    padding-top: 115px;
    padding-left: 10px;
  }
  .btnBuyToCart {
    margin-top: 8%;
  }
  .card {
    position: relative;
    width: 280px;
    height: 150px;
    background: #333;
    transition: 0.5s;
  }
  .card .imgBx img {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
  .card .imgBx::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #292929;
    width: calc(95%);
    height: calc(95%);
  }
  .card:hover .imgBx {
    width: 150px;
    height: 150px;
  }
  .card .imgBx {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
  }
  .card .content1 .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(160px);
  }
  .card:hover .content1 .details {
    transform: translateY(0px);
  }
  .card:hover {
    height: 350px;
  }
  .modal-1 {
    padding-top: 30%;
    margin: auto 8%;
  }
  .content .textBox,
  .content .imgBox {
    max-width: 100%;
  }
  swiper-slide {
    padding-bottom: 8%;
    margin-bottom: 100px;
  }
  .copy-right p {
    font-size: 14px;
    font-style: italic;
  }
  .container h2 {
    color: #fff;
  }
  .container .feeling {
    color: #fff;
  }
  .cocacola {
    margin-top: 10rem;
  }
  .modal-button {
    margin-top: 2%;
    margin-left: 22px;
  }
  .content .textBox {
    margin-top: -10%;
  }
  .carousel-inner p {
    color: #fff;
  }
}
.qty {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 10px 0;
}
input {
  max-width: 100px;
  height: 40px;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  outline: none;
  color: #555555;
}
.qty .min,
.qty .plus {
  height: 40px;
  padding: 5px 15px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
  margin: 0;
}
.copy-right {
  position: absolute;
  bottom: 3%;
  left: 5%;
}
.copy-right p {
  font-size: 14px;
  font-style: italic;
}
@media (max-width: 320px) {
  .modal-1 {
    padding-top: 30%;
    margin: auto 2%;
  }
}
@media (max-width: 480px) {
  .modal-1 {
    padding-top: 30%;
    margin: auto 12%;
  }
}